.inputContain {
  height: 3.125rem;
  width: calc(100% - 2rem);
  max-width: 18.75rem;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px;

  & + .inputContain {
    margin-top: 0.75rem;
  }

  & + button {
    margin-top: 1.25rem;
  }

  label {
    position: absolute;
    left: 1.5625rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-placeholder);
    pointer-events: none;
    transition: 0.2s;

    &.active {
      transform: translateY(-75%);
      font-size: 0.75rem;
      opacity: 0.75;
    }
  }

  input {
    padding: 0.75rem 1.5625rem 0;
    height: 100%;
    width: 100%;
    background: var(--color-input);
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 0.875rem;
    color: var(--color-black);
    font-weight: 500;
    box-shadow: var(--box-shadow);
    outline: none;

    &:focus-within {
      border-color: var(--color-outline);
    }
  }

  div {
    position: absolute;
    right: 1.25rem;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  @media (min-width: "1024px") {
    max-width: 21.875rem;
  }
}
