.inputContain {
  height: 3.125rem;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 25px;

  & + .inputContain {
    margin-top: 0.75rem;
  }

  & + button {
    margin-top: 1.25rem;
  }

  &:focus-within {
    border-color: var(--color-outline);
  }

  label {
    position: absolute;
    left: 1.5625rem;
    color: var(--color-placeholder);
    font-size: 0.875rem;
    pointer-events: none;
    transition: 0.2s;
    font-weight: 500;

    &.active {
      transform: translateY(-75%);
      font-size: 0.75rem;
      opacity: 0.75;
    }
  }

  input {
    padding: 0.75rem 1.5625rem 0;
    height: 100%;
    width: 100%;
    background: var(--color-input);
    border: 2px solid transparent;
    border-radius: 25px;
    transition: border-color 0.2s;
    font-size: 0.875rem;
    color: var(--color-black);
    font-weight: 500;
    box-shadow: var(--box-shadow);
    outline: none;
  }

  div {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.25rem;
    cursor: pointer;
  }
}
